cachelib==0.1.1
click==7.1.2
cs50==6.0.2
Flask==1.1.2
Flask-Session==0.3.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
SQLAlchemy==1.3.21
sqlparse==0.4.1
termcolor==1.1.0
Werkzeug==1.0.1
